.current {
    opacity: 0.8; 
}

/* Global styles ================================= */
* { font-family: "Futura LT W01 Book"; }
.futura-bold {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	line-height: 26.4px;
}
.content { min-height: calc(100vh - 200px); }
/* =============================================== */

